<div class="h-full">
  <div class="px-4 py-8 flex flex-row gap-4 md:gap-8">
    <div class="m-auto">
      <div class=" h-20 w-20 md:h-44 md:w-44 z-1 rounded-full group-hover:bg-slate-400 bg-primary flex flex-row items-center justify-around">
        <img class="w-full h-full rounded-full" alt="display-icon" src="./assets/profile_pic.jpg">
      </div>
    </div>
    <div class="my-auto">
      <div class="flex flex-col gap-2">
        <h2 class="text-primary font-semibold text-sm sm:text-base md:text-xl">Hello, I'm Adarsh</h2>
        <h1 class="text-white font-bold text-base sm:text-lg md:text-3xl">Software Developer</h1>
        <p class="text-white text-xs sm:text-sm md:text-base text-opacity-80">
          In the vast expanse of the Internet, I am the sole ruler over this domain. If all this is a little too much (don't blame you). You can just download my resume by clicking below.
        </p>
        <a href="./assets/resume.pdf" download><button class="btn-primary text-xs md:text-base w-24 md:w-36 my-3 md:my-5">DOWNLOAD</button></a>
      </div>
    </div>
  </div>
</div>
