<div class="h-full w-full p-4">
  <h4 class="text-white font-semibold">
    When I am not coding
  </h4>
  <p class="text-white text-opacity-75 text-sm">
    You can find me at one of the many football pitches in Bangalore trying to do my best Ronaldo impression. <br>
    Have just started reviewing movies, shows and whatever catches my fancy <span class="text-white font-semibold"> on Substack</span> (so, I don't feel guilty while watching them). <br>
    Can also spend hundreds of hours listening to music while also playing the guitar amateurly.<br>
  </p>
  <br>
  <h4 class="text-white font-semibold">
    Interests
  </h4>
  <div class="w-fit pt-2 grid grid-cols-5 md:grid-cols-9 gap-1">
    <app-links-icon *ngFor="let interest of infoService.getInterests()" [interest]="interest"></app-links-icon>
  </div>
</div>
