<a href="https://google.com" target="_blank" rel="norefferer">
    <div class="flex flex-row">
        <div class="w-32 h-32 z-10 rounded-full bg-white flex flex-row items-center justify-around">
            <img class="w-16 h-16" alt="twitter-icon" src="./assets/placeholder.png">
        </div>
        <div class="h-32 w-96 -ml-16 rounded-lg bg-black">
            <div class="pl-32 h-full w-full flex flex-col justify-center">
                <p class="text-xl text-white">Follow me on twitter!</p>
            </div>
        </div>
    </div>
</a>