<a href="https://google.com" target="_blank" rel="norefferer">
    <div class="flex flex-row hover:animate-bounce">
        <div class="h-16 w-16 md:w-32 md:h-32 z-10 rounded-full bg-white flex flex-row items-center justify-around">
            <img class="w-8 h-8" alt="twitter-icon" src="/assets/placeholder.png">
        </div>
        <div class="h-16 w-48 lg:h-32 lg:w-96 -ml-8 lg:-ml-16 rounded-lg bg-black">
            <div class="pl-16 lg:pl-32 h-full w-full flex flex-col justify-center">
                <p class="text-xs lg:text-xl text-white">Follow me on twitter!</p>
            </div>
        </div>
    </div>
</a>