
<div class="relative h-full w-full">
    <div class ="flex w-full justify-center">
        <div class="w-56 h-56 z-10 rounded-full bg-white flex flex-row justify-center items-center">
            <img class="w-32 h-32" alt="profile-pic" src="./assets/placeholder.png">
        </div>
    </div>
    <div class="absolute h-full w-full rounded-md top-28 bg-black shadow-xl">
        <div class="h-auto w-auto mt-36 flex flex-row divide-x-2 divide-white divide-opacity-20 justify-center">
            <p class="text-white p-14 text-xl w-1/2">Hi, my name is Adarsh Shetty,Been a while lorem ipsum dolor.</p>
            <p class="text-white p-14 text-xl w-1/2">Hi, my name is Adarsh Shetty</p>
        </div>

    </div>

</div>


