<nav class ="w-full absolute top-0 left-0 right-0 bg-white h-28 overflow-x-hidden">
  <div class="h-full w-full md:ml-20 flex flex-row items-center border-b-2 border-opacity-25 border-gray-400">
    <h2 class="font-bold text-4xl">Adarsh<span class="text-primary">.</span></h2>
    <div class="flex-auto flex justify-center">
      <div class="flex flex-row w-96 justify-evenly self-center">
        <h5 class="hover:text-primary hover:cursor-pointer">Home</h5>
        <h5 class="hover:text-primary hover:cursor-pointer">About</h5>
        <h5 class="hover:text-primary hover:cursor-pointer">Projects</h5>
        <h5 class="hover:text-primary hover:cursor-pointer">Testimonials</h5>
      </div>
    </div>

  </div>
</nav>
