<div class="h-20 shadow-xl rounded-full flex flex-row divide-secondary divide-x-2 divide-opacity-50">
  <div class="h-full w-full flex flex-col justify-center items-center rounded-l-full bg-secondaryAccent hover:bg-secondary">
    <h4 class="text-primary font-bold">
      Me
    </h4>
  </div>
  <div class="h-full w-full flex flex-col justify-center items-center bg-secondaryAccent hover:bg-secondary">
    <h4 class="text-primary font-bold">
      Education
    </h4>
  </div>
  <div class="h-full w-full flex flex-col justify-center items-center rounded-r-full bg-secondaryAccent hover:bg-secondary">
    <h4 class="text-primary font-bold">
      Hobbies
    </h4>
  </div>
</div>
