<div class="h-56 w-full flex flex-row items-center group -z-10">
  <div class="relative w-full h-3 md:h-6 bg-secondary rounded-full">
    <div class="absolute h-3 md:h-6 bg-primary rounded-full" [ngStyle]="{'width.%': progress }">
    </div>
    <div class="w-full absolute -top-2 md:-top-4">
      <div class="flex flex-row justify-between">
        <app-timeline-tile [icon]="'rocket'" [isActivated]="true"></app-timeline-tile>
        <app-timeline-tile [isActivated]="isActivated(1)"></app-timeline-tile>
        <app-timeline-tile [isActivated]="isActivated(2)"></app-timeline-tile>
        <app-timeline-tile [isActivated]="isActivated(3)"></app-timeline-tile>
        <app-timeline-tile [icon]="'thumbsup'" [isActivated]="isActivated(4)"></app-timeline-tile>
      </div>
    </div>
  </div>
</div>
