<div class="flex flex-row m-16 bg-secondary p-3">
  <div class="h-full m-7 max-w-lg flex flex-col gap-2 justify-center">
    <h2 class="text-white font-bold text-xl md:text-3xl">Want to collaborate for your next project?</h2>
    <p class="text-white text-opacity-50 text-sm md:text-base">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </p>
  </div>
  <div class="my-auto mx-2 md:mx-7">
    <button class="btn-primary">CONTACT</button>
  </div>
</div>
