<div class="h-full w-full p-4">
  <h4 class="text-white font-semibold">
    Basic Qualifications
  </h4>
  <p class="text-white text-opacity-75 mt-2 text-sm">
    Graduated from <span class="text-white font-semibold">NMAM Institute of Technology</span> <br>
    B.E in Computer Science (VTU)<br>
    <span class="italic">2017-2021</span>
  </p>
  <p class="text-white text-opacity-75 mt-2 text-sm">
    Plus 2 from <span class="text-white font-semibold">Expert P.U College</span><br>
    State Board<br>
    <span class="italic">2015-2017</span>
  </p>
  <p class="text-white text-opacity-75 mt-2 text-sm">
    Completed schooling in <span class="text-white font-semibold">Lourdes Central School</span><br>
    <span class="italic">2005-2015</span>
  </p>
  <br>
</div>
