<div class="flex flex-row items-center justify-around h-full w-full">
    <div class="hidden h-3/5 max-w-md flex flex-col justify-between items-center">
        <p class="mt-7 text-white font-bold md:text-2xl text-center">Project Statistics 2023</p>
        <button class="btn-primary w-36 bg-yellow-500 text-black text-lg p-2">Know More</button>
    </div>
    <div class="flex flex-col h-full py-10 w-64 flex-initial">
        <ul *ngFor="let stat of info.getStats()">
          <div class="group h-full my-3 px-2 flex justify-between items-center border-b-2 border-slate-400 border-opacity-50">
            <p class="text-white group-hover:text-yellow-500 text-base">{{stat.name}}</p>
            <p class="text-white group-hover:text-yellow-500 text-base">{{stat.count}}</p>
        </div>
        </ul>
    </div>
</div>
