<div class="group h-full w-full flex flex-col justify-between items-center gap-3 bg-secondary hover:bg-primary shadow-md z-10 p-6">
  <blockquote>
    <p class="text-white text-lg md:text-2xl font-semibold" >
      "{{ quote.statement }}"
    </p>
  </blockquote>
  <figcaption>
    <p class="text-center text-primary group-hover:text-white font-semibold">
      {{ quote.person }}
    </p>
    <p class="text-center text-white text-opacity-50">
      {{ quote.relation }}
    </p>
  </figcaption>
</div>
